@charset "ISO-8859-1";
body {
	margin: 10px;
	background-color: white;
	font-family: sans-serif;
	color:  green;
}

#titolo {
	height: 30px;
	background-color: whitesmoke;
	border: 3px solid darkgreen;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

strong.titolo {
	color: darkblue;
	font-size: x-large;
	margin: 10px;
}

div.sezione {
	background-color: whitesmoke;
	border: 3px solid forestgreen;
	border-radius: 10px;
	margin: 10px;
	font-size: large;
	text-align: justify;
	padding: 15px;
}

strong.top {
	font-size: 15px;
	color: darkblue;
}
